body {
  background-color: #1a1919;
  color: #999;
  height: 100%;
  overflow-y: scroll;
}

#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
div {
  font-family: "Open Sans", sans-serif !important;
}
.cursorHover:hover {
  cursor: pointer;
}
